# directories
.yarn/
artifacts/
build/
cache/
coverage/
dist/
lib/
node_modules/
typechain/
contracts/amm/
contracts/libraries/
contracts/multicall/
contracts/stableswap/
contracts/weth/

# files
*.env
*.log
*.tsbuildinfo
.pnp.*
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
newRewarderConfig.json
rewarderConfigs.json
newRewarderConfig.sample.json